/* Your CSS goes here */
#main {
  text-align: left;
}

.daytime {
	background:lightblue;
	color:darkblue;
}

.nighttime {
	.background:darkblue;
	.color:lightblue;
}

#vehicle {
	left: 0px;
	bottom: 0px;
	width: 300px;
	height: 300px;
	float:left;
}

#weather {
	right:0px;
	bottom:0px;
	width:450px;
	height:300px;
	float:right;
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}

#close img {
  width: 100%;
}

@media (min-width: 801px) {
  #close {
    top: 104px;
  }
}
